<div class="uk-alert-warning uk-padding-small" uk-alert>
  <h3>Usage</h3>
  <p>
    Pass an array of links to fetch in an address bar, for example,
    <%= link_to default_link_params, default_link_params, class: 'uk-overlay-hover' %>
  </p>
</div>

<div class="uk-alert-danger uk-padding-small uk-margin-top" uk-alert>
  <h3>Warning</h3>
  <p>
    Each new request will delete previous results
  </p>
</div>

<table class="uk-table uk-table-hover uk-table-divider uk-table-justify" id="pages">
  <thead>
    <tr>
      <th>URL</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% pages.each do |page| %>
      <tr class="page">
        <td>
          <%= link_to page.url, page.url, class: 'uk-link-muted', target: '_blank' %>
        </td>
        <td>
          <%= page_title(page) %>
        </td>
        <td>
          <%= status_label(page) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
